Non-negative Least Squares Demo

In [1]:
import pandas as pd
import numpy as np
from scipy.optimize import nnls
import os, glob

path = r'C:\Users\donolan\OneDrive - Research Triangle Institute\Documents\Dan_ProjectWriting\2023_Dan_STEPS\Ce-MOF Study\DATA\FTIR\csv files\\'

header=[]
for file in os.listdir(path):
    header.append(file)

files = glob.glob(path + '*.csv')
df = pd.concat(
    (
        pd.read_csv(i, sep=',', skiprows=2, usecols=[1],engine='python')          #add appropriate formatting to the read_csv command
                for i in files
    ), 
    axis=1
)
df.columns=header
df.drop(df.tail(30).index,inplace=True)

display(df)

,A-629-145.csv,A-629-146.csv,A-629-147.csv,A-629-149.csv,A-629-155_6.csv,A-629-157.csv,A-629-158.csv,A-629-159.csv,SiO2.csv
0,96.43,99.38,99.34,99.46,99.54,100.17,100.41,95.30,100.34
1,96.43,99.38,99.33,99.45,99.54,100.17,100.41,95.31,100.33
2,96.43,99.38,99.33,99.45,99.54,100.16,100.40,95.31,100.33
3,96.43,99.38,99.33,99.44,99.54,100.16,100.40,95.32,100.33
4,96.43,99.38,99.33,99.45,99.53,100.15,100.40,95.31,100.33
...,...,...,...,...,...,...,...,...,...
3445,51.17,52.89,48.32,48.85,89.96,86.38,87.01,21.35,87.62
3446,51.69,53.31,47.73,49.02,90.01,86.47,87.23,21.57,87.66
3447,51.60,53.15,46.38,48.61,89.95,86.43,87.38,21.04,87.53
3448,51.48,53.23,45.00,48.32,89.87,86.41,87.45,20.73,87.43
3449,51.78,54.00,44.30,48.60,89.80,86.46,87.38,21.23,87.43

In [52]:
a1 = df['A-629-145.csv'].to_list()
a2 = df['SiO2.csv'].to_list()
b1 = df['A-629-155_6.csv'].T.to_list()

A = np.array([a1,a2])
b = np.array(b1)
x, rnorm = nnls(np.transpose(A),b)

print('content of 145 and SiO2 in 155/6 is', x, ', respectively')
print(rnorm)

content of 145 and SiO2 in 155/6 is [0.26434874 0.75184993] , respectively
312.7401434409754

In [50]:
a1 = df['A-629-146.csv'].to_list()
a2 = df['SiO2.csv'].to_list()
b1 = df['A-629-157.csv'].T.to_list()

A = np.array([a1,a2])
b = np.array(b1)
x, rnorm = nnls(np.transpose(A),b)

print('content of 146 and SiO2 in 157 is', x, ', respectively')
print(rnorm)

content of 146 and SiO2 in 157 is [0.07881892 0.92022187] , respectively
59.70188945315662

In [2]:
a1 = df['A-629-159.csv'].to_list()
a2 = df['SiO2.csv'].to_list()
b1 = df['A-629-158.csv'].T.to_list()

A = np.array([a1,a2])
b = np.array(b1)
x, rnorm = nnls(np.transpose(A),b)

print('content of 159 and SiO2 in 158 is', x, ', respectively')
print(rnorm)

content of 159 and SiO2 in 158 is [0.02191415 0.97888922] , respectively
46.26078208806412